[user]
	name = Otavio Cornelio
	useConfigOnly = true ; prompt to set a local config email in a newly cloned repo
[commit]
    verbose = true ; Show diff between HEAD commit and what would be committed at the bottom of the commit message
[diff]
    colorMoved = true
    mnemonicPrefix = true
[fetch]
    prune = true ; behave as if --prune is always set
[merge]
    conflictStyle = diff3 ; add a ||||||| marker and the original text before the ======= marker in conflicts
[url "git@github.com:"]
    insteadOf = "gh:" ; allows cloning with "gh:Vinesma/repo" instead of the full url
