[user]
	name = Otavio Cornelio
	useConfigOnly = true ; prompt to set a local config email in a newly cloned repo
[commit]
    verbose = true ; Show diff between HEAD commit and what would be committed at the bottom of the commit message
[diff]
    colorMoved = true
    mnemonicPrefix = true
[fetch]
    prune = true ; behave as if --prune is always set
[pull]
    ff = only
[rebase]
	updateRefs = true
[url "git@github.com:"]
    insteadOf = "gh:" ; allows cloning with "gh:Vinesma/repo" instead of the full url
[help]
    autoCorrect = prompt
[alias]
	s = status
	a = add
	aa = add .
	r = restore
	c = commit
	ca = commit -a
	cam = commit --amend
	cp = cherry-pick
	ch = checkout
	sw = switch
	b = branch
	m = merge
	re = rebase
	d = diff
	l = log --graph --abbrev-commit --decorate
	ps = push
	pl = pull
    pr = "!f() { git fetch -fu ${2:-$(git remote |grep ^upstream || echo origin)} refs/pull/$1/head:pr/$1 && git checkout pr/$1; }; f"
    pr-clean = "!git for-each-ref refs/heads/pr/* --format='%(refname)' | while read ref ; do branch=${ref#refs/heads/} ; git branch -D $branch ; done"
    assume-unchanged = update-index --assume-unchanged
    no-assume-unchanged = update-index --no-assume-unchanged
    psnu = !git push --set-upstream origin $(git branch --show-current) ; push a local branch to remote and track it
	alias = !git grep -h -A 100 -e 'alias' "$HOME/.dotfiles/git/.gitconfig"
