[Unit]
Description=Enable repeat/shuffle/crossfade on mpd
Requires=mpd.service
After=mpd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/mpc -q random on
ExecStart=/usr/bin/mpc -q repeat on
ExecStart=/usr/bin/mpc -q crossfade 3

[Install]
WantedBy=default.target
